/* remember to use "display flex" for the grid layout 
go to class resources to pull the card images
set up basic css,  */

* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
/* the page */
body {
    height: auto;
    width: auto;
    margin: 0;
    /* display: flexbox; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;/*later change this to an img*/
}
/* the grid layout for the board*/
.gameBoard {
    display: grid;
    grid-template-columns: 40vmin 40vmin;
    grid-template-rows: 10vmin 10vmin 10vmin 10vmin 50vmin 10vmin;
    grid-template-areas: 
        "hdr" "hdr"
        "msg" "msg"
        "h3" "h3"
        "h1" "h1"
        "btn" "btn" "btn"
        "div" "div"
        
}
/* just header */
header {
    background-color:black;
    font-size:30px;
    text-align: center;
    color: white;
    grid-column: span 2;
    margin: 1vmin;
}
msg {
    grid-column: span 2;
    color: white;
}
h3 {
    color: white;
    text-align: center;
    padding: 1vmin;
    margin: 1vmin;
}
img {
    height: 110px;
    width: 80px;
    background-color: aliceblue;
    align-items: center;

}

#p1-result #p2-result {
    color: white;
    padding: 2vmin;
}

/* style the button 
add radius, backgorundcColor, */

button.btn {
    size: 20px;
    font-size: 10px;
    align-items: center;
    color: white;
    text-align: center;
    grid-column: span 2;
    text-align: center;
    color: black;
    grid-column: span 2;
    margin: 1vmin;
}

