/* remember to use "display flex" for the grid layout 
go to class resources to pull the card images
set up basic css,  */

* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
/* the page */
body {
    height: auto;
    width: auto;
    margin: 0;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;/*later change this to an img*/
}
/* the grid layout for the board*/
.gameBoard {
    display: grid;
    grid-template-columns: 40vmin 40vmin;
    grid-template-rows: 10vmin 10vmin 10vmin 50vmin 10vmin 10vmin ;
    grid-template-areas: 
        "hdr" "hdr"
        "h3" "h3"
        "h1" "h1"
        "btn" "btn" "btn"
        "div" "div"
        

}
/* just header */
header {
    background-color:black;
    font-size:30px;
    text-align: center;
    color: white;
    grid-column: span 2;
    margin: 1vmin;
}
h3 {
    color: white;
    text-align: center;
    padding: 1vmin;
    margin: 1vmin;
}
h2 {
    color: white;
    text-align: center;
}

img {
    height: 125px;
    width: 90px;
    align-items: center;
    background-color: white;
    margin: 1vmin;
}

div#player1 div#player2 {
    align-items: center;
    padding: 2vmin;
}

/* style the button 
add radius, backgorundcColor, */

button.btn {
    font-size: 10px;
    align-items: left;
    color: white;
    color: black;
    grid-column: span 2;
    margin: 1vmin;
}

